name: .NET Core

on:
  [push]

env:
  MSSQL_SA_PASSWORD: "YourStrong!Passw0rd"
  ACCEPT_EULA: "Y"
  MSSQL_PID: "developer"
  
jobs:  
  build:

    runs-on: ubuntu-18.04
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_PASSWORD: pgpass4291
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v2
    - uses: graalvm/setup-graalvm@v1
      with:
        version: 'latest'
        java-version: '11'
        components: 'native-image'
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Add MSFT code signing key
      run: wget -qO- https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
    - name: Add MSFT package repo
      run: sudo add-apt-repository "$(wget -qO- https://packages.microsoft.com/config/ubuntu/18.04/mssql-server-2019.list)"
    - name: MySQL
      run: |
        sed -i'' -e 's/Password=;/Password=pgpass4291;/' Tests/IsIdentifiableTests/TestDatabases.xml
        sudo mkdir -p /var/run/mysqld
        sudo chown mysql:mysql /var/run/mysqld
        sudo mysqld_safe --port=3306 --skip-grant-tables &
    - name: Install Sql Server
      run: sudo apt-get install -y --no-install-recommends postgresql mssql-tools mssql-server
    - name: Configure Sql Server
      run: sudo -E /opt/mssql/bin/mssql-conf -n setup accept-eula
    - name: Fix download.sh runability
      run: chmod +x ./data/tessdata/download.sh
    - name: Fetch tessdata
      run: ./data/tessdata/download.sh
    - name: Move eng.traineddata
      run:  mv eng.traineddata ./data/tessdata/eng.traineddata
    - name: Build
      run: dotnet build --configuration Release --nologo
    - name: Test
      run: dotnet test --blame -l:"console;verbosity=normal" --nologo
    - name: Package ii binary
      run: |
        (cd ii && dotnet publish --runtime win-x64 -c Release --self-contained true -o ../win-x64)
        (cd ii && dotnet publish --runtime linux-x64 -c Release --self-contained true -o ../linux-x64)
        (cd win-x64 && zip -9r ../ii-cli-win-x64.zip .)
        (tar -zcvf ii-cli-linux-x64.tar.gz ./linux-x64)
    - name: Pack
      run: dotnet pack IsIdentifiable/IsIdentifiable.csproj -c Release  -p:PackageVersion=$(fgrep AssemblyVersion SharedAssemblyInfo.cs|cut -d'"' -f2) --nologo --include-source -o .
    - name: Nuget push
      if: contains(github.ref,'refs/tags/')
      run: dotnet nuget push *.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_KEY }} --skip-duplicate
    - name: Store created nupkg files
      uses: actions/upload-artifact@v2
      with:
        path: *.nupkg
        retention-days: 1
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@2.2.1
      if: contains(github.ref, 'refs/tags/v')
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ii-cli-*
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
